.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputContainer h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 1.5rem;
}
.inputContainer h1 span {
  color: var(--primary-color);
}
.inputContainer div {
  display: flex;
  margin-bottom: 2rem;
}
.inputContainer input {
  width: 100%;
  padding: 0.5rem 0.2rem 0.5rem 0;
  text-indent: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.inputContainer input::placeholder {
  font-size: 0.9rem;
}
.inputContainer button {
  padding: 0 1rem;
  height: 3rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}

/* Result */
.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.result p {
  color: #fff;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}
.result button {
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
  background: var(--primary-color);
  border: none;
}
.result button.copied {
  background: #fff;
  color: var(--primary-color);
}
.noData {
  color: #fff;
  font-size: 1rem;
}

/* background animate */
@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #53b7ea;
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 5vmin;
  height: 5vmin;
  border-radius: 5vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 50;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #7ed643;
  top: 61%;
  left: 8%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -4vw -10vh;
  box-shadow: -10vmin 0 2.1583432888609044vmin currentColor;
}
.background span:nth-child(1) {
  color: #E45A84;
  top: 20%;
  left: 17%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 8vw 15vh;
  box-shadow: 10vmin 0 2.052625493689317vmin currentColor;
}
.background span:nth-child(2) {
  color: #E45A84;
  top: 49%;
  left: 56%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -6vw -16vh;
  box-shadow: 10vmin 0 2.10561067737185vmin currentColor;
}
.background span:nth-child(3) {
  color: #E45A84;
  top: 72%;
  left: 36%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 1vw 6vh;
  box-shadow: 10vmin 0 2.065430617513935vmin currentColor;
}
.background span:nth-child(4) {
  color: #7ed643;
  top: 59%;
  left: 73%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 20vw 15vh;
  box-shadow: 10vmin 0 2.0410449363978302vmin currentColor;
}
.background span:nth-child(5) {
  color: #7ed643;
  top: 1%;
  left: 75%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 7vw 25vh;
  box-shadow: -10vmin 0 1.9912844759383854vmin currentColor;
}
.background span:nth-child(6) {
  color: #7ed643;
  top: 99%;
  left: 24%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 21vw -2vh;
  box-shadow: -10vmin 0 2.084948092948376vmin currentColor;
}
.background span:nth-child(7) {
  color: #E45A84;
  top: 68%;
  left: 62%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -17vw 10vh;
  box-shadow: 10vmin 0 1.2744382109531436vmin currentColor;
}
.background span:nth-child(8) {
  color: #7ed643;
  top: 5%;
  left: 94%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 15vw -1vh;
  box-shadow: -10vmin 0 1.3508967964427738vmin currentColor;
}
.background span:nth-child(9) {
  color: #E45A84;
  top: 33%;
  left: 17%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 17vw 3vh;
  box-shadow: -10vmin 0 1.511232626873041vmin currentColor;
}
.background span:nth-child(10) {
  color: #E45A84;
  top: 92%;
  left: 2%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 20vw -7vh;
  box-shadow: 10vmin 0 1.7852361456718913vmin currentColor;
}
.background span:nth-child(11) {
  color: #FFACAC;
  top: 86%;
  left: 76%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 20vw 14vh;
  box-shadow: -10vmin 0 1.4262796687963981vmin currentColor;
}
.background span:nth-child(12) {
  color: #E45A84;
  top: 53%;
  left: 95%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -5vw -9vh;
  box-shadow: 10vmin 0 1.682398349874946vmin currentColor;
}
.background span:nth-child(13) {
  color: #E45A84;
  top: 96%;
  left: 51%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -10vw 5vh;
  box-shadow: 10vmin 0 2.165507697421045vmin currentColor;
}
.background span:nth-child(14) {
  color: #FFACAC;
  top: 26%;
  left: 21%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 24vw 23vh;
  box-shadow: 10vmin 0 1.5917563822852114vmin currentColor;
}
.background span:nth-child(15) {
  color: #E45A84;
  top: 4%;
  left: 79%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 2vw 18vh;
  box-shadow: 10vmin 0 1.2819049757899843vmin currentColor;
}
.background span:nth-child(16) {
  color: #FFACAC;
  top: 93%;
  left: 45%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 13vw -8vh;
  box-shadow: 10vmin 0 1.5929617578536vmin currentColor;
}
.background span:nth-child(17) {
  color: #E45A84;
  top: 13%;
  left: 71%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 5vw -13vh;
  box-shadow: 10vmin 0 2.022100854780585vmin currentColor;
}
.background span:nth-child(18) {
  color: #FFACAC;
  top: 34%;
  left: 85%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -18vw 2vh;
  box-shadow: -10vmin 0 1.7561311899228769vmin currentColor;
}
.background span:nth-child(19) {
  color: #E45A84;
  top: 57%;
  left: 51%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 14vw 12vh;
  box-shadow: -10vmin 0 1.8510922074190572vmin currentColor;
}
.background span:nth-child(20) {
  color: #FFACAC;
  top: 94%;
  left: 51%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 3vw -8vh;
  box-shadow: 10vmin 0 1.654547302168447vmin currentColor;
}
.background span:nth-child(21) {
  color: #7ed643;
  top: 5%;
  left: 7%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 10vw 10vh;
  box-shadow: 10vmin 0 1.4691893032144268vmin currentColor;
}
.background span:nth-child(22) {
  color: #FFACAC;
  top: 5%;
  left: 46%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -14vw 2vh;
  box-shadow: 10vmin 0 1.5373946407948622vmin currentColor;
}
.background span:nth-child(23) {
  color: #E45A84;
  top: 51%;
  left: 57%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 5vw 3vh;
  box-shadow: -10vmin 0 1.282185209346392vmin currentColor;
}
.background span:nth-child(24) {
  color: #7ed643;
  top: 17%;
  left: 76%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 16vw 24vh;
  box-shadow: 10vmin 0 2.0453896374929617vmin currentColor;
}
.background span:nth-child(25) {
  color: #E45A84;
  top: 70%;
  left: 42%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 2vw 14vh;
  box-shadow: -10vmin 0 1.4944719670622735vmin currentColor;
}
.background span:nth-child(26) {
  color: #7ed643;
  top: 9%;
  left: 49%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 22vw 8vh;
  box-shadow: 10vmin 0 1.325707954555288vmin currentColor;
}
.background span:nth-child(27) {
  color: #E45A84;
  top: 71%;
  left: 69%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -11vw 20vh;
  box-shadow: -10vmin 0 2.1900751992301384vmin currentColor;
}
.background span:nth-child(28) {
  color: #7ed643;
  top: 10%;
  left: 59%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 12vw -4vh;
  box-shadow: 10vmin 0 1.4271736109207813vmin currentColor;
}
.background span:nth-child(29) {
  color: #7ed643;
  top: 45%;
  left: 2%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -21vw -1vh;
  box-shadow: -10vmin 0 1.7724406576725054vmin currentColor;
}
.background span:nth-child(30) {
  color: #7ed643;
  top: 43%;
  left: 38%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 24vw 7vh;
  box-shadow: -10vmin 0 1.52529503480807vmin currentColor;
}
.background span:nth-child(31) {
  color: #FFACAC;
  top: 53%;
  left: 3%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -6vw 14vh;
  box-shadow: 10vmin 0 1.9931796948749125vmin currentColor;
}
.background span:nth-child(32) {
  color: #E45A84;
  top: 90%;
  left: 66%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 21vw 18vh;
  box-shadow: -10vmin 0 2.0842837001165346vmin currentColor;
}
.background span:nth-child(33) {
  color: #7ed643;
  top: 52%;
  left: 5%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -12vw 23vh;
  box-shadow: 10vmin 0 1.325949266752224vmin currentColor;
}
.background span:nth-child(34) {
  color: #7ed643;
  top: 41%;
  left: 16%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -12vw -23vh;
  box-shadow: 10vmin 0 1.7267631599304332vmin currentColor;
}
.background span:nth-child(35) {
  color: #FFACAC;
  top: 7%;
  left: 98%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 15vw 6vh;
  box-shadow: 10vmin 0 1.995617141272164vmin currentColor;
}
.background span:nth-child(36) {
  color: #E45A84;
  top: 33%;
  left: 75%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -22vw -14vh;
  box-shadow: -10vmin 0 1.7877154002685545vmin currentColor;
}
.background span:nth-child(37) {
  color: #7ed643;
  top: 45%;
  left: 78%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 14vw 9vh;
  box-shadow: 10vmin 0 1.6189767365100343vmin currentColor;
}
.background span:nth-child(38) {
  color: #E45A84;
  top: 97%;
  left: 4%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -21vw 22vh;
  box-shadow: 10vmin 0 1.2947728585300495vmin currentColor;
}
.background span:nth-child(39) {
  color: #E45A84;
  top: 60%;
  left: 54%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -10vw -1vh;
  box-shadow: -10vmin 0 2.1694462116608437vmin currentColor;
}
.background span:nth-child(40) {
  color: #E45A84;
  top: 73%;
  left: 74%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 16vw -4vh;
  box-shadow: -10vmin 0 1.5254385325647484vmin currentColor;
}
